<h1 class="font-bold text-blue-p text-base text-center pb-7">
  You can not login to Trello?
</h1>
<div *ngIf="emailSent">
  <div class="flex justify-center py-4">
    <img
      loading="lazy"
      class="w-40"
      src="/assets/svg/check-email.svg"
      alt="logo"
    />
  </div>
  <p>We will send you a recovery email</p>
  <p class="font-bold">{{form.controls.email.value}}</p>
</div>
<form *ngIf="!emailSent" [formGroup]="form" (ngSubmit)="sendLink()" novalidate class="space-y-4">
  <div>
    <div class="relative">
      <label for="email" class="text-xs font-semibold pb-1">We will send you a recovery email to</label>
      <input
        class="w-full bg-gray-50 rounded border-2 border-gray-300"
        #nameInput
        formControlName="email"
        placeholder="Enter email"
        type="email"
        name="email"
      />
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field is mandatory
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1">
        This field is not an email.
      </p>
    </div>
  </div>
  <div class="relative">
    <app-btn
      typeBtn="submit"
      colorBtn="success"
      [loading]="status === 'loading'">
      Send recovery verification email
    </app-btn>
  </div>
</form>
